/* Custom properties */
@layer colors {
  :root {
    --c-grey-900: hsl(187 24% 22%);
    --c-grey-500: hsl(186 15% 59%);
    --c-white: hsl(0 0% 100%);
    --c-green-600: hsl(169 82% 27%);
    --c-green-200: hsl(148 38% 91%);
    --c-red: hsl(0 66% 54%);
  }
}

@layer spacing {
  :root {
    --spacing-100: 0.5rem;
    --spacing-150: 0.75rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-1600: 8rem;
  }
} 

/* Font weight 400 or 700 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--c-green-200);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-block: clamp(2rem, calc(-3.725rem + 24.427vw), 8rem);
  padding-inline: var(--spacing-200);
}

.form-container {
  background-color: var(--c-white);
  border-radius: 1rem;
  padding: clamp(24px, calc(8.733px + 4.071vw), 40px);
}

h1 {
  margin-block-end: var(--spacing-400);
  color: var(--c-grey-900);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
}

form,
.flex-container {
  display: grid;
  gap: var(--spacing-300);
}
                  
.form-group label,
fieldset legend {
  display: block;
  font-size: 1rem; 
  font-weight: 400;
  line-height: 2;
  color: var(--c-grey-900);
  margin-block-end: var(--spacing-100);
}

.required-icon {
  color: var(--c-green-600);
}
                         
.form-group input[type="text"],
.form-group input[type="email"],
.form-group-radio,
.form-group textarea {
  width: 100%;
  border: solid 1px var(--c-grey-500);
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
}

.form-group-radio {
  display: flex;
  gap: var(--spacing-150);
  align-items: center;
}

.form-group-radio label {
  font-size: 1.125rem;
  line-height: 1.5;
}

.form-group-radio input[type="radio"] {
  appearance: none;
  width: 1.125rem;
  height: 1.125rem;
  border: solid 1px var(--c-grey-500);
  border-radius: 50%;
}

.form-group-radio input[type="radio"]:checked {
  border: 0;
  background-image: url(./assets/images/icon-radio-selected.svg);
  background-position: center;
}

fieldset {
  border: 0;
}



 